@font-face {
  font-family: "Bebas";
  src: url(bebas-neue-book.otf);
}
@font-face {
  font-family: "akzidenz";
  src: url(akzidenz-grotesk-bq-light-condensed.otf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(FotoABOUT/Fill\ 02.png);
  background-repeat: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #040404;
  background-attachment: fixed;
}
nav :hover {
  color: rgb(237, 237, 237);
}
.navabout {
  color: rgba(255, 255, 255, 0.946);
}
a {
  color: rgba(102, 102, 102, 0.919);
  text-decoration: none;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 3rem;
  font-family: "Bebas";
  letter-spacing: 0.3rem;
  padding-bottom: 2rem;
}
.parentcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  
}

.textoabout {
  background-color: #00000057;

  text-align: justify;
  font-family: "akzidenz";
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  color: white;
}
@media(min-width:768px){
  .textoabout{
    width: 500px;
  }
}
@media (max-width: 767px) {
  .navabout {
    display: none;
  }
  
}
@media(min-width:1024px){
  .parentcontainer{
    position: absolute;
    top: 25%;
    left: 10%;
  } 
  .textoabout{
    font-size: 1.5rem;
    width: 600px;
  } 
  
}
@media (min-width: 1440px) {
  .cabecalho {
    font-size: 1.3rem;
  }
}
@media (min-width: 2560px) {
  .cabecalho {
    font-size: 2rem;
  }
}
